{% extends 'base.html' %}

{% load static %}

{% block tagactive %}
    nav-dot-current
{% endblock %}

{% block content %}
    <div class="section-page-tags wrap">
        <div class="page-tags-wrap flex">
            <div class="page-tags-title">
                <h4>Our top tags</h4>
            </div>
            {% for tag in tags %}
                {% if tag.description %}
                    <div class="page-tag-wrap top is-image" {%if not tag.image%}style="background-image: linear-gradient(45deg,var(--gradient-{{tag.color}}-start),var(--gradient-{{tag.color}}-end))"{%endif%}>
                        <a href="{% url 'tag_posts' tag.text %}" class="item-link-overlay"></a>
                        {% if tag.image %}
                            <div
                                class="page-tag-image"
                                style="background-image: url({{tag.image.url}});"
                            ></div>
                        {% endif %}
                        <h2><a href="{% url 'tag_posts' tag.text %}">{{ tag.text }}</a></h2>
                        <p>
                            {{ tag.description }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="page-tags-title">
                <h4>You might also like</h4>
            </div>
            {% for tag in tags %}
                {% if not tag.description %}
                    <div class="page-tag-wrap other is-image" {%if not tag.image%}style="background-image: linear-gradient(45deg,var(--gradient-{{tag.color}}-start),var(--gradient-{{tag.color}}-end))"{%endif%}>
                        <a href="{% url 'tag_posts' tag.text %}" class="item-link-overlay"></a>
                        {% if tag.image %}
                            <div
                                class="page-tag-image"
                                style="background-image: url({{tag.image.url}});"
                            ></div>
                        {% endif %}
                        <h2><a href="{% url 'tag_posts' tag.text %}">{{ tag.text }}</a></h2>
                    </div>
                {% endif %}
            {% empty %}
                <div class="page-tags-title">
                    <h4>No tags yet<h4>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}