asgiref==3.2.10
django==2.1.5
django-jet==1.0.8
importlib-metadata==1.7.0
Markdown==3.2.2
Pillow==7.2.0
pytz==2020.1
sqlparse==0.3.1
zipp==3.1.0
django-markdownx==3.0.1
django-markupfield==2.0.0
django-pagedown==2.1.2
django-treebeard==4.3